<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Изменение</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Изменение пользователя</h1>
        <form method="POST" action="">
            <label for="id">ID пользователя</label>
            <input type="text" name="id">
            <br>
            <label for="name">Имя пользователя</label>
            <input type="text" name="name">
            <br>
            <label for="age">Возраст</label>
            <input type="text" name="age">
            <br>
            <input type="submit" value="Изменить"/>
        </form>
    </body>
</html>